<robot name="car_bot_urdf" xmlns:xacro="http://ros.org/wiki/xacro">
  <link
    name="base_link">
    <!-- <inertial>
      <origin
        xyz="-4.33680868994202E-18 6.93889390390723E-18 0.00499472100150436"
        rpy="0 0 0" />
      <mass
        value="1.35091102161818" />
      <inertia
        ixx="0.00452029389532666"
        ixy="5.5695104618961E-19"
        ixz="7.72756476211676E-21"
        iyy="0.00705560761614026"
        iyz="2.58303019056871E-19"
        izz="0.0115532852001033" />
    </inertial> -->
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="chassis_inertia">
  <inertial>
      <origin
        xyz="-4.33680868994202E-18 6.93889390390723E-18 0.00499472100150436"
        rpy="0 0 0" />
      <mass
        value="1.35091102161818" />
      <inertia
        ixx="0.00452029389532666"
        ixy="5.5695104618961E-19"
        ixz="7.72756476211676E-21"
        iyy="0.00705560761614026"
        iyz="2.58303019056871E-19"
        izz="0.0115532852001033" />
    </inertial> 
  </link>
  <joint name="base_inertia_joint" type="fixed">
  <parent link="base_link"/>
  <child link="chassis_inertia"/>
  <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>


  <link
    name="wheel_lf">
    <inertial>
      <origin
        xyz="1.38777878078145E-17 0.00747787610619469 1.73472347597681E-18"
        rpy="0 0 0" />
      <mass
        value="0.0383399967444098" />
      <inertia
        ixx="8.67259593990343E-06"
        ixy="-1.06396513069382E-22"
        ixz="8.60614249228914E-22"
        iyy="1.71769971255087E-05"
        iyz="1.02728784668032E-21"
        izz="8.67259593990343E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/wheel_lf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/wheel_lf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_lf_joint"
    type="continuous">
    <origin
      xyz="0.1175 0.0955 -0.00250000000000001"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_lf" />
    <axis
      xyz="0 1 0" />
  </joint>
  <transmission name="wheel_lf_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheel_lf_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="wheel_lf_motor">
        <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <link
    name="wheel_rf">
    <inertial>
      <origin
        xyz="0 -0.00747787610619471 0"
        rpy="0 0 0" />
      <mass
        value="0.0383399967444099" />
      <inertia
        ixx="8.67259593990346E-06"
        ixy="8.78384570048759E-23"
        ixz="2.0573537295173E-38"
        iyy="1.71769971255088E-05"
        iyz="3.0994479953322E-38"
        izz="8.67259593990346E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/wheel_rf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/wheel_rf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_rf_joint"
    type="continuous">
    <origin
      xyz="0.1175 -0.0955 -0.0025"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_rf" />
    <axis
      xyz="0 1 0" />
  </joint>
  <transmission name="wheel_rf_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheel_rf_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="wheel_rf_motor">
        <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <link
    name="wheel_lr">
    <inertial>
      <origin
        xyz="1.38777878078145E-17 0.00747787610619469 1.73472347597681E-18"
        rpy="0 0 0" />
      <mass
        value="0.0383399967444098" />
      <inertia
        ixx="8.67259593990343E-06"
        ixy="-1.80827755721878E-22"
        ixz="1.83131721594423E-22"
        iyy="1.71769971255087E-05"
        iyz="9.95486359850548E-22"
        izz="8.67259593990344E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/wheel_lr.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/wheel_lr.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_lr_joint"
    type="continuous">
    <origin
      xyz="-0.1175 0.0955 -0.00250000000000001"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_lr" />
    <axis
      xyz="0 1 0" />
  </joint>
  <transmission name="wheel_lr_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheel_lr_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="wheel_lr_motor">
        <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <link
    name="wheel_rr">
    <inertial>
      <origin
        xyz="-1.38777878078145E-17 -0.00747787610619471 0"
        rpy="0 0 0" />
      <mass
        value="0.0383399967444099" />
      <inertia
        ixx="8.67259593990346E-06"
        ixy="2.3124228310078E-22"
        ixz="-3.6627657488302E-22"
        iyy="1.71769971255088E-05"
        iyz="2.14340930596089E-23"
        izz="8.67259593990346E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/wheel_rr.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/wheel_rr.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_rr_joint"
    type="continuous">
    <origin
      xyz="-0.1175 -0.0955 -0.0025"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_rr" />
    <axis
      xyz="0 1 0" />
  </joint>
  <transmission name="wheel_rr_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheel_rr_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="wheel_rr_motor">
        <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <link
    name="arm_base">
    <inertial>
      <origin
        xyz="-0.000298297348525992 -0.000877787621383082 0.0319114539268278"
        rpy="0 0 0" />
      <mass
        value="0.91596516059112" />
      <inertia
        ixx="0.00073168986505667"
        ixy="-1.26761193633643E-05"
        ixz="8.43820455323346E-07"
        iyy="0.000698696851498368"
        iyz="2.48317991681916E-06"
        izz="0.000778870658078705" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/arm_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/arm_base.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.01"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="arm_base" />
    <axis
      xyz="0 0 1" />
    <limit effort="10.0" velocity="1.0" lower="-3.14" upper="3.14" />
    <dynamics damping="0.01" friction="0.5" />
  </joint>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-0.0115375441031865 -0.00365718446832064 0.0723463351317531"
        rpy="0 0 0" />
      <mass
        value="0.0996158414655172" />
      <inertia
        ixx="0.000254336078927667"
        ixy="1.33882780081127E-06"
        ixz="3.18886970748264E-05"
        iyy="0.000257820495196919"
        iyz="-1.08370964339216E-05"
        izz="8.43715586331683E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="-0.0193060937297844 -0.0568091079396324 0.035"
      rpy="0 0 0" />
    <parent
      link="arm_base" />
    <child
      link="link_1" />
    <axis
      xyz="0.321768228829737 0.946818465660537 0" />
    <limit effort="10.0" velocity="1.0" lower="-3.14" upper="3.14" />
    <dynamics damping="0.01" friction="0.5" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.072223851051241 -0.0131618914471062 -0.0175795140660839"
        rpy="0 0 0" />
      <mass
        value="0.108284756759418" />
      <inertia
        ixx="5.02633331609213E-05"
        ixy="8.54163427477755E-05"
        ixz="6.51198170052858E-05"
        iyy="0.000275869982876407"
        iyz="-2.18739586733741E-05"
        izz="0.000288713816055805" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="-0.0184576025605661 0.00627265975449014 0.144692676550407"
      rpy="0 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="-0.321768228829737 -0.946818465660537 0" />
    <limit effort="10.0" velocity="1.0" lower="-3.14" upper="3.14" />
    <dynamics damping="0.01" friction="0.5" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.0162922995004058 -0.00225957863421151 0.000372789225122044"
        rpy="0 0 0" />
      <mass
        value="0.0594973856516304" />
      <inertia
        ixx="4.77523268570868E-05"
        ixy="-7.44511024754089E-06"
        ixz="4.28209493437805E-07"
        iyy="2.80501822186981E-05"
        iyz="-1.43112566897626E-07"
        izz="3.06964480583462E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="continuous">
    <origin
      xyz="0.142077143852359 -0.0229356647785824 -0.0343517172193877"
      rpy="0 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0.321768228829742 0.946818465660536 0" />
    <limit effort="10.0" velocity="1.0" lower="-3.14" upper="3.14" />
    <dynamics damping="0.01" friction="0.5" />
  </joint>
  <link
    name="grip_1">
    <inertial>
      <origin
        xyz="0.000643536457659466 0.00189363693132108 0"
        rpy="0 0 0" />
      <mass
        value="0.02376" />
      <inertia
        ixx="6.34455173885966E-06"
        ixy="9.55956619567387E-07"
        ixz="6.16209123374935E-08"
        iyy="8.83262624703443E-06"
        iyz="-2.09413446619627E-08"
        izz="3.20118201410595E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/grip_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/grip_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="or_1"
    type="prismatic">
    <origin
      xyz="0.0304994638655437 -0.0283198516302344 0.000876759691081697"
      rpy="0 0 0" />
    <parent
      link="link_3" />
    <child
      link="grip_1" />
    <axis
      xyz="-0.321768228829738 -0.946818465660537 0" />
    <limit
      lower="-0.1"
      upper="0.1"
      effort="100"
      velocity="1" />
  </joint>
  <link
    name="grip_2">
    <inertial>
      <origin
        xyz="-0.000643536457659466 -0.00189363693132109 -2.77555756156289E-17"
        rpy="0 0 0" />
      <mass
        value="0.02376" />
      <inertia
        ixx="6.34455173885965E-06"
        ixy="9.55956619567385E-07"
        ixz="6.16209123374903E-08"
        iyy="8.83262624703442E-06"
        iyz="-2.0941344661962E-08"
        izz="3.20118201410595E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/grip_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_bot_urdf/meshes/grip_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="or_2"
    type="prismatic">
    <origin
      xyz="0.0433701930187332 0.00955288699618709 0.000876759691081697"
      rpy="0 0 0" />
    <parent
      link="link_3" />
    <child
      link="grip_2" />
    <axis
      xyz="-0.321768228829738 -0.946818465660537 0" />
    <limit
      lower="-0.1"
      upper="0.1"
      effort="100"
      velocity="1" />
  </joint>

  <link name="imu_link">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.01"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia 
        ixx="0.000033" ixy="0" ixz="0"
        iyy="0.000033" iyz="0"
        izz="0.000033"/>
    </inertial>
  </link>

  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0 0 -0.005"/>
  </joint>

 <gazebo reference="imu_link">
    <sensor name="imu_sensor" type="imu">
    <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <ros>
          <remapping>~/out:=imu</remapping>
        </ros>
        <initial_orientation_as_reference>false</initial_orientation_as_reference>
      </plugin>
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <imu>
        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </z>
        </angular_velocity>
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </z>
        </linear_acceleration>
      </imu>
    </sensor>
  </gazebo>
  
  <gazebo>
    <plugin name='diff_drive' filename='libgazebo_ros_diff_drive.so'>
      <ros>
        <remapping>cmd_vel:=/cmd_vel_nav</remapping>
      </ros>
      <update_rate>50.0</update_rate>

      <!-- 主动轮 -->
      <left_joint>wheel_lf_joint</left_joint>
      <right_joint>wheel_rf_joint</right_joint>

      <!-- 轮距与直径 -->
      <wheel_separation>0.211</wheel_separation>
      <wheel_diameter>0.06</wheel_diameter>

      <!-- 限制 -->
      <max_wheel_torque>1</max_wheel_torque>
      <max_wheel_acceleration>20.0</max_wheel_acceleration>

      <!-- 输出 -->
      <publish_odom>true</publish_odom>
      <publish_odom_tf>false</publish_odom_tf>
      <publish_wheel_tf>false</publish_wheel_tf>

      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>base_link</robot_base_frame>
    </plugin>
  </gazebo>
  <link name="lidar_link">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.125"/>
    <inertia ixx="0.001"  ixy="0"  ixz="0" iyy="0.001" iyz="0" izz="0.001" />
  </inertial>

  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
       <cylinder radius="0.00508" length="0.0055"/>
    </geometry>
  </collision>

  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
       <cylinder radius="0.00508" length="0.0055"/>
    </geometry>
  </visual>
</link>

<joint name="lidar_joint" type="fixed">
  <parent link="base_link"/>
  <child link="lidar_link"/>
  <origin xyz="0 0 0.09" rpy="0 0 0"/>
</joint>

<gazebo reference="lidar_link">
  <sensor name="lidar" type="ray">
    <always_on>true</always_on>
    <visualize>true</visualize>
    <update_rate>20</update_rate>
    <ray>
      <scan>
        <horizontal>
          <samples>360</samples>
          <resolution>1.000000</resolution>
          <min_angle>0.000000</min_angle>
          <max_angle>6.280000</max_angle>
        </horizontal>
      </scan>
      <range>
        <min>0.090000</min>
        <max>3.5</max>
        <resolution>0.015000</resolution>
      </range>
      <noise>
        <type>gaussian</type>
        <mean>0.0</mean>
        <stddev>0.01</stddev>
      </noise>
    </ray>
    <plugin name="scan" filename="libgazebo_ros_ray_sensor.so">
      <ros>
        <remapping>~/out:=scan</remapping>
      </ros>
      <output_type>sensor_msgs/LaserScan</output_type>
      <frame_name>lidar_link</frame_name>
    </plugin>
  </sensor>
</gazebo>
<link name="camera_link">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="0.0015 0.0130 0.022"/>
    </geometry>
  </visual>

  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="0.0015 0.0130 0.022"/>
    </geometry>
  </collision>

  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.035"/>
    <inertia ixx="0.001"  ixy="0"  ixz="0" iyy="0.001" iyz="0" izz="0.001" />
  </inertial>
</link>

<joint name="camera_joint" type="fixed">
  <parent link="base_link"/>
  <child link="camera_link"/>
  <origin xyz="0.14 0 0" rpy="0 0 0"/>
</joint>

<link name="camera_depth_frame"/>

<joint name="camera_depth_joint" type="fixed">
  <origin xyz="0 0 0" rpy="-1.5707 0 -1.5707"/>
  <parent link="camera_link"/>
  <child link="camera_depth_frame"/>
</joint>

<gazebo reference="camera_link">
  <sensor name="depth_camera" type="depth">
    <visualize>true</visualize>
    <update_rate>30.0</update_rate>
    <camera name="camera">
      <horizontal_fov>1.047198</horizontal_fov>
      <image>
        <width>640</width>
        <height>480</height>
        <format>R8G8B8</format>
      </image>
      <clip>
        <near>0.05</near>
        <far>3</far>
      </clip>
    </camera>
    <plugin name="depth_camera_controller" filename="libgazebo_ros_camera.so">
      <baseline>0.2</baseline>
      <alwaysOn>true</alwaysOn>
      <updateRate>0.0</updateRate>
      <frame_name>camera_depth_frame</frame_name>
      <pointCloudCutoff>0.5</pointCloudCutoff>
      <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
      <distortionK1>0</distortionK1>
      <distortionK2>0</distortionK2>
      <distortionK3>0</distortionK3>
      <distortionT1>0</distortionT1>
      <distortionT2>0</distortionT2>
      <CxPrime>0</CxPrime>
      <Cx>0</Cx>
      <Cy>0</Cy>
      <focalLength>0</focalLength>
      <hackBaseline>0</hackBaseline>
    </plugin>
  </sensor>
</gazebo>
<gazebo>
    <plugin name="gazebo_ros_joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
      <ros>
        <remapping>~/out:=joint_states</remapping>
      </ros>
      <update_rate>30</update_rate>
      
      <joint_name>wheel_lf_joint</joint_name>
      <joint_name>wheel_rf_joint</joint_name>
      <joint_name>wheel_lr_joint</joint_name>
      <joint_name>wheel_rr_joint</joint_name>
      
    </plugin>
  </gazebo>
<gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(find car_bot_urdf)/config/arm_controller.yaml</parameters>
    </plugin>
  </gazebo>
<ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    
    <joint name="joint1">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint2">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint3">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint4">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="or_1">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="or_2">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>
</robot>